@font-face {
    font-family:"merriwearther";
    src: url("fonts/merriwearther/merriwearther")
}
@font-face {
    font-family:"Montserrat";
    src: url("fonts/Montserrat/Montserrat")
}
@font-face {
    font-family:"Parkinsans";
    src: url("fonts/Parkinsans/Parkinsans")
}